*{
    margin: 0;
}

h3 {
    font-family: 'Pretendard-Thin';
    color: #ffffff;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    margin-top: 50px;
    font-size: 20px;
}

/* cdn import */
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

/* 폰트 적용 */
* {
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
}


/* 상단바 */
.menu * {
    display: inline;
}

.menu li {
    margin: 35px;
}

.menu li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu ul {
    padding-left: 0px;
}

.menu {
    font-size: 20px;
    font-style: italic;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
} 

/* page 1 */

.one {
    background-size: cover;
    text-align: center;
    padding-top: 180px;
    padding-bottom: 130px;
}

.profile {
    border-radius: 30%;
    display: inline-block;
    padding: 0.5rem;
    margin-top: 20px;
    border: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.5);
}

.mainView{
    background-color:bisque;
    height: 500px;
}

.profile img {
    border-radius: 30%;
}

/* page 3 */

h1 {
    text-align: center;
}

.lists{
    text-align: center;
    font-family: 'Pretendard-Thin';
    display: block;
    text-align: center;
    font-weight: 400;
    font-family: 'Pretendard-Thin';
    font-size: 18px;
    line-height: 1.5;
    font-style: italic;
}

.list_img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 7vh 5vh;
    margin-bottom: 50px;
}

.favorites {
    display:inline-flex;
    margin-top: 60px;
}

.project{
    width: 100%;
    height: 500px;
    background-color: yellow;
}

/* page 4 */

.content{
    background-color: cadetblue;
}

.four {
    text-align: center;
    align-items: center;
}

.ct {
    margin-top: 80px;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-style: italic;
    margin: 35px;
}

.picBox{
    border-radius: 20%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.me{
    border-radius: 30%;
}

.pictures{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 60px;
}

.study{
    justify-content: center;
    align-items: center;
}

.studyTitle{
    margin-top: 12px;
    margin-left: 5px;
    color: black;
}

.reason{
    margin-top: 50px;
    align-items: center;
    margin-left: 10px;
    height: 444px;
}

.introduce{
    display: flex;
    justify-content: center;
    align-items: center;
}



